html {
  background-color: white;
}

body {
  width: 80vw;
  margin: auto;
  padding-top: 30px;
  font-family: "Saira Condensed", sans-serif;
  box-sizing: border-box;
}

#main {
  padding-top: 35px;
  width: 100%;
}

#collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  width: 70vw;
  margin: auto;
  justify-items: center;
}

/* não consigo meter isto bonito */
.heroe {
  width: 125px;
  border: 1px solid white;
  border-radius: 50px;
  background-color: white;
  opacity: 1;
  transition: all 2s ease-in-out;
}

.heroe:hover {
  cursor: pointer;
  border: solid 1px #ffd9be;
  border-radius: 50px;
}

.heroename {
  text-align: center;
  font-size: 25px;
  color: #ffad72;
}

.heroe > img {
  border-radius: 50px;
  width: 100%;
}

#scoreboard {
  /* margin: 20px auto; */
  /* border: 1px solid lightgrey; */
  padding: 10px 40px;
}

#scoreboard h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
}

footer {
  text-align: center;
}

a {
  color: #8bceff;
}

a:hover {
  color: #6190b2;
}

a:visited {
  color: #293d4c;
}

header {
  border-bottom: 2px solid #ffbc8b;
}
